<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
            }
        </style>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Ein Bild, dass den Anfang darstellen soll.",
                img_path: "/img/stock/beginning.jpg",
                title: text.title,
                subtitle: "",
                cta_text: "",
                cta_link: ""
            }) %>
            <h1 class="title margin-t-5vh w1000 w1200"><%- text.title %></h1>
            <p class="text-beginning"><%- text.abs1 %></p>
            <p class="text-beginning"><%- text.abs2 %></p>
            <p class="text-beginning"><%- text.abs3 %></p>
            <p class="text-beginning"><%- text.abs4 %></p>
            <p class="text-beginning"><%- text.abs5 %></p>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(text.datum) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>