<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
    </head>
    <body><%
        let link_mitglied;
        if (typeof user !== "undefined" && user !== null) {
            user?.valid ? link_mitglied = "/profile?js=profile_toMembership" : link_mitglied = "/login";
        } else {
            link_mitglied = "/login";
        }; %>
       <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main><% 
            const jsonBlog = JSON.parse(blog); %>
            <pre class="invisible" id="raw">
                <%= blog %>
            </pre>
            <%- include("./snippets/hero.ejs", {
                img_alt: jsonBlog.hero.alt,
                img_path: jsonBlog.hero.src,
                title: jsonBlog.hero.title,
                subtitle: jsonBlog.hero.subtitle,
                cta_text: "",
                cta_link: origin_url
            }) %>
            <script>
                function jsonToElm(options) {
                    const element = document.createElement(options.tagName)

                    for (let attr in options.attributes) {
                        element.setAttribute(attr, options.attributes[attr])
                    }

                    for (let child of options.children) {
                        if (child.tagName === "___text___") {
                            element.appendChild(document.createTextNode(child.content));
                            continue;
                        }

                        element.appendChild(jsonToElm(child));
                    }

                    return element
                }

                document.querySelector("main").appendChild(
                    jsonToElm(
                        JSON.parse(
                            document.getElementById("raw").innerText
                        ).html
                    )
                );
            </script>
            <div class="blog_line"></div>
            <div class="blog_footer"><%
                function toRealDate (date) {
                    date = date.toString();
                    let time = date.slice(16, 24);
                    let day = date.slice(8, 10);
                    let year = date.slice(11, 15);
                    let month = date.slice(4, 7);
                    switch (month) {
                        case "Jan":
                            month = "Januar";
                            break;
                        case "Feb":
                            month = "Februar";
                            break;
                        case "Mar":
                            month = "März";
                            break;
                        case "Apr":
                            month = "April";
                            break;
                        case "May":
                            month = "Mai";
                            break;
                        case "Jun":
                            month = "Juni";
                            break;
                        case "Jul":
                            month = "Juli";
                            break;
                        case "Aug":
                            month = "August";
                            break;
                        case "Sep":
                            month = "September";
                            break;
                        case "Oct":
                            month = "Oktober";
                            break;
                        case "Nov":
                            month = "November";
                            break;
                        case "Dec":
                            month = "Dezember";
                            break;
                    };
                    return `${day}. ${month} ${year} um ${time}`;
                };%>
                <img id="blog_footer_img" src="/img/svg/personal.svg" alt="<%= jsonBlog.author %>">
                <div>
                    <p>Autor: <%= jsonBlog.author %></p>
                    <p>Gepostet am <%= toRealDate(jsonBlog.date) %></p>
                </div>
            </div>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>