<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            main > h2 {
                margin: 0;
                font-size: 2em;
                padding: 0 5vw;
            }

            main > h3 {
                margin: 0;
                font-size: 1.5em;
                padding: 0 5vw;
            }

            main > h1 {
                margin: 0;
                font-size: 2.5em;
                padding: 0 5vw;
                margin: 5vh 0;
            }

            h1.title {
                word-wrap: break-word;
            }

            ul {
                padding-left: 20px;
                margin: 5vh 5vw;
            }
        </style>
    </head>
    <body>
        <%
        let link_mitglied;
        if (typeof user !== "undefined" && user !== null) {
            user?.valid ? link_mitglied = "/profile?exec=profileMembership" : link_mitglied = "/login";
        } else {
            link_mitglied = "/login";
        }; %>
        <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main>
            <%- include("./snippets/datenschutzerklaerung.ejs"); %>
            <script>
                getQuery("main h1").addClass("title");
                getQuery("main p").addClass("text");
                getQuery("main h1").get(0).removeClass("title");
            </script>
            <p class="text">
                <a href="#scroll_to_download" id="download_datenschutz">Download</a>
            </p>
            <script>
                getElm("download_datenschutz").click((e) => {
                    e.preventDefault();
                    download("https://ik.imagekit.io/zmt/pdf/datenschutz/Datenschutzerklaerung.pdf", "Datenschutzerklärung ZMT.pdf");
                });
            </script>
            <p class="date" id="scroll_to_download">Zuletzt aktualisiert am <%= toRealDate(date) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url
        }) %>
    </body>
</html>
