<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
            }
        </style>
    </head>
    <body>
        <%
        let link_mitglied;
        if (typeof user !== "undefined" && user !== null) {
            user?.valid ? link_mitglied = "/profile?js=profile_toMembership" : link_mitglied = "/login";
        } else {
            link_mitglied = "/login";
        }; %>
        <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Finanzen",
                img_path: "/img/stock/erfolgsrechnung.jpg",
                title: "Erfolgsrechnung",
                subtitle: "",
                cta_text: "",
                cta_link: ""
            }) %>
            <iframe class="iframe-efr" src="https://ik.imagekit.io/zmt/pdf/erfolgsrechnung/Bilanz.pdf"></iframe>
            <iframe class="iframe-efr" src="https://ik.imagekit.io/zmt/pdf/erfolgsrechnung/Erfolgsrechnung Mitgliederkonto.pdf"></iframe>
            <iframe class="iframe-efr" src="https://ik.imagekit.io/zmt/pdf/erfolgsrechnung/Erfolgsrechnung Spendenkonto.pdf"></iframe>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>
