<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
            }
        </style>
    </head>
    <body>
        <%
        let link_mitglied;
        if (typeof user !== "undefined" && user !== null) {
            user?.valid ? link_mitglied = "/profile?js=profile_toMembership" : link_mitglied = "/login";
        } else {
            link_mitglied = "/login";
        }; %>
        <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Ein Bild der 10'000 Schilling Banknote aus Tanzania",
                img_path: "/img/stock/banknote.jpg",
                title: finanzen.titel,
                subtitle: "",
                cta_text: "",
                cta_link: ""
            }) %>
            <h1 class="title margin-t-5vh w1000 w1200"><%= finanzen.titel %></h1>
            <p class="text"><%- finanzen.pre %></p>
            <h1 style="padding: 0 5%; margin: 0 !important"><%- finanzen.h1 %></h1>
            <p class="text"><%- finanzen.abs1 %></p>
            <h1 style="padding: 0 5%; margin: 0 !important"><%- finanzen.h2 %></h1>
            <p class="text"><%- finanzen.abs2 %></p>
            <h1 style="padding: 0 5%; margin: 0 !important"><%- finanzen.h3 %></h1>
            <p class="text"><%- finanzen.abs3 %></p>
            <h1 style="padding: 0 5%; margin: 0 !important"><%- finanzen.h4 %></h1>
            <p class="text"><%- finanzen.abs4 %></p>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(date) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>
