<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Unsere Generalversammlung",
                img_path: "/img/content/gv_5.jpg",
                title: "GV Daten",
                subtitle: "",
                cta_text: "",
                cta_link: ""
            }) %>
            <h1 class="title margin-t-5vh w1000 w1200"><%- gv.titel %></h1>
            <p class="text"><%- gv.abs1 %></p>
            <p class="text"><%- gv.abs2 %></p>
            <p class="text"><%- gv.abs3 %></p>
            <div id="auto_KZ2NgtUOvwoaWwWIEZrNiGILxaz">
                <div class="blog_carousel auto_b9kk5sPUCMc6VGDunxT8voBvn8Q">
                    <div class="blog_c-main auto_ZkaKjESpdoYFWrzdVswqJ15vEDy">
                        <img class="auto_vGYGfK3qxjJU5Ho00fxdd0dO8eS" id="auto_vGYGfK3qxjJU5Ho00fxdd0dO8eS" src="/img/content/gv_5.jpg" alt="Keine Beschreibung für dieses Bild...">
                        <img class="auto_m3dYokkc8IeKZvyi9V7MPDQNhpc" id="auto_m3dYokkc8IeKZvyi9V7MPDQNhpc" src="/img/content/gv_1.jpg" alt="Keine Beschreibung für dieses Bild...">
                        <img class="auto_l6HT0nmdztJJVYRR6QjEmWD9g0d" id="auto_l6HT0nmdztJJVYRR6QjEmWD9g0d" src="/img/content/gv_2.jpg" alt="Keine Beschreibung für dieses Bild...">
                        <img class="auto_Yc1Fe6eWonBt0kzQu38P4dki9Fh" id="auto_Yc1Fe6eWonBt0kzQu38P4dki9Fh" src="/img/content/gv_3.jpg" alt="Keine Beschreibung für dieses Bild...">
                        <img class="auto_dI8GVStdW8YbshBE8MnwEdEv2UY" id="auto_dI8GVStdW8YbshBE8MnwEdEv2UY" src="/img/content/gv_4.jpg" alt="Keine Beschreibung für dieses Bild...">
                    </div>
                    <button class="blog_carousel_next" id="blog_carousel_next_auto_4tsIZtZRUrnDaYLFak6dgkKLtkS" type="button"></button>
                    <button class="blog_carousel_prev" id="blog_carousel_prev_auto_Q9QmsckzYSOxGbpIVwVzoQFN18C" type="button"></button>
                    <div class="blog_c-ruler auto_CJYzo2DbhsMAqwDirINoh0rSNUD">
                        <img class="auto_vGYGfK3qxjJU5Ho00fxdd0dO8eS" id="auto_vGYGfK3qxjJU5Ho00fxdd0dO8eS" src="/img/content/gv_5.jpg" alt="Keine Beschreibung für dieses Bild...">
                        <img class="auto_m3dYokkc8IeKZvyi9V7MPDQNhpc" id="auto_m3dYokkc8IeKZvyi9V7MPDQNhpc" src="/img/content/gv_1.jpg" alt="Keine Beschreibung für dieses Bild...">
                        <img class="auto_l6HT0nmdztJJVYRR6QjEmWD9g0d" id="auto_l6HT0nmdztJJVYRR6QjEmWD9g0d" src="/img/content/gv_2.jpg" alt="Keine Beschreibung für dieses Bild...">
                        <img class="auto_Yc1Fe6eWonBt0kzQu38P4dki9Fh" id="auto_Yc1Fe6eWonBt0kzQu38P4dki9Fh" src="/img/content/gv_3.jpg" alt="Keine Beschreibung für dieses Bild...">
                        <img class="auto_dI8GVStdW8YbshBE8MnwEdEv2UY" id="auto_dI8GVStdW8YbshBE8MnwEdEv2UY" src="/img/content/gv_4.jpg" alt="Keine Beschreibung für dieses Bild...">
                    </div>
                    <script>
                        getQuery(".blog_c-ruler.auto_CJYzo2DbhsMAqwDirINoh0rSNUD").get(0).html(getQuery(".blog_c-main.auto_ZkaKjESpdoYFWrzdVswqJ15vEDy").get(0).html());

                        const arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7 = [
                            getQuery(".auto_vGYGfK3qxjJU5Ho00fxdd0dO8eS"),
                            getQuery(".auto_m3dYokkc8IeKZvyi9V7MPDQNhpc"),
                            getQuery(".auto_l6HT0nmdztJJVYRR6QjEmWD9g0d"),
                            getQuery(".auto_Yc1Fe6eWonBt0kzQu38P4dki9Fh"),
                            getQuery(".auto_dI8GVStdW8YbshBE8MnwEdEv2UY"),
                        ];

                        let current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr = 1;

                        arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr - 1].toggleClass("active");

                        function next_auto_CaFJOVmBjhxCxSaVaI0AitdLbU4() {
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr + 1 > arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7.length ?
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr = 1 :
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr++;
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr === 1 ?
                            arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7.length - 1].toggleClass("active") :
                            arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr - 2].toggleClass("active");
                            arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr - 1].toggleClass("active");
                        };

                        function prev_auto_BzNFdXkvFiKOrDjjh9Qs3FSS7aD() {
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr - 1 === 0 ?
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr = arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7.length :
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr--;
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr === arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7.length ?
                            arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[0].toggleClass("active") :
                            arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr].toggleClass("active");
                            arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr - 1].toggleClass("active");
                        };

                        function to_auto_RtYj6hr7lOnBa8pPoSDsnSpgDmU(i) {
                            arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr - 1].toggleClass("active");
                            arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7[i - 1].toggleClass("active");
                            current_auto_8MLQ6KS5Xjzw0LMeQN7JyFYcZYr = i;
                        };

                        getElm("blog_carousel_next_auto_4tsIZtZRUrnDaYLFak6dgkKLtkS").click(next_auto_CaFJOVmBjhxCxSaVaI0AitdLbU4);
                        getElm("blog_carousel_prev_auto_Q9QmsckzYSOxGbpIVwVzoQFN18C").click(prev_auto_BzNFdXkvFiKOrDjjh9Qs3FSS7aD);

                        arr_auto_ByYLKCElQFcZ60FPcnMRJ5x2FL7.forEach((elm, i) => {
                            elm.get(1).click(() => to_auto_RtYj6hr7lOnBa8pPoSDsnSpgDmU(i + 1));
                        });
                    </script>
                </div>
            </div>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(date) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>