<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Echse auf einem Stein",
                img_path: "/img/stock/echse.jpg",
                title: "Medizinische Hilfe<br>in Tanzania",
                subtitle: "Wir sind ein Team von medizinischen Fachleuten aus den verschiedensten Berufsgruppen und Lehren.",
                cta_text: "Mehr erfahren",
                cta_link: origin_url,
                origin_url: origin_url
            }) %>
            <%- include("./snippets/news.ejs", {
                text: news.text,
                img_path: news.img_path,
                img_alt: news.img_alt,
                img_pos: news.img_pos,
                cta: news.btn,
                cta_text: news.btn_text,
                cta_link: news.btn_link,
                pdf: news.pdf,
                pdf_src: news.pdf_src,
                origin_url: origin_url
            }) %>
            <%- include("./snippets/blogCards.ejs", {
                title: undefined,
                rows: 2,
                img: [
                    last4blogs[0].img.img[0],
                    last4blogs[1].img.img[0],
                    last4blogs[2].img.img[0],
                    last4blogs[3].img.img[0]
                ],
                img_alt: [
                    last4blogs[0].img.alt[0],
                    last4blogs[1].img.alt[0],
                    last4blogs[2].img.alt[0],
                    last4blogs[3].img.alt[0]
                ],
                subtitle: [
                    last4blogs[0].title, 
                    last4blogs[1].title, 
                    last4blogs[2].title, 
                    last4blogs[3].title
                ],
                desc: [
                    last4blogs[0].preview, 
                    last4blogs[1].preview, 
                    last4blogs[2].preview, 
                    last4blogs[3].preview
                ],
                origin_url: origin_url
            }) %>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>