<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
            }
        </style>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Eine Ziege",
                img_path: "/img/stock/mbuzi.jpg",
                title: "Mbuzi",
                subtitle: "",
                cta_text: "",
                cta_link: ""
            }) %>
            <h1 class="title margin-t-5vh w1000 w1200"><%- mbuzi.titel %></h1>
            <div class="kardio-imgs">
                <img class="kardio-img" src="/img/regular/mbuzi.jpg">
            </div>
            <p class="text"><%- mbuzi.abs1 %></p>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(date) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>