<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
    </head>
    <body><%
        let link_mitglied;
        if (typeof user !== "undefined" && user !== null) {
            user?.valid ? link_mitglied = "/profile?js=profile_toMembership" : link_mitglied = "/login";
        } else {
            link_mitglied = "/login";
        }; %>
       <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main><% 
            news.forEach((element, i) => {
                element.isArchiv = true; %>
            <%- include("./snippets/news.ejs", element) %><%
            if (count > 5 && i === news.length - 5) { %>
            <div id="scroll_to_last_entry"></div>
            <% }
            }); %>
            <% if (count === news.length) { %>
            <a class="news-more" href="<%= `/archiv?count=${count + 5}` %>">Weitere</a>
            <% }; %>
            <script defer>
                let count = "<%= count %>";
                count = Number(count);

                if (count > 5 && getQuery("main").get(0).childrenCount() > 5) {
                    scrollToQuery("#scroll_to_last_entry");
                };

                on(document, "DOMContentLoaded", () => {
                    getQuery("h1").forEach(element => {
                        if (typeof element.dataset?.date === "string") {
                            element.innerText = element.dataset.date;
                        }
                    });
                });
            </script>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>