<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <link rel="stylesheet" href="/css/static.css">
        <script type="text/javascript" src="/js/profile.js" defer></script>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <div class="you">
                <div class="static">
                    <div class="img">
                        <img alt="Dein Profilbild" src="<%= user.picture + "?timestamp=" + Date().toString() %>">
                        <button type="button" class="edit_picture" id="edit_picture">
                            <img alt="Ein Stift zum beartbeiten" src="/img/svg/pen.svg">
                        </button>
                    </div>
                    <h2><%= user.username %></h2>
                    <p>
                        <%= user.name + " " + user.family_name %><br>
                        <span>(<%= user.email %>)</span><%
                        if (user.type === "admin" || user.type === "member") {
                        %><br>
                        <br>
                        <span class="user_type_member"><%= user.type.replace("admin", "Verwalter").replace("member", "Mitglied") %></span><% }; %>
                    </p>
                </div>
                <div class="dynamic">
                    <div class="top">
                        <button type="button" id="profile_dashboard_btn1" class="link active">Einstellungen</button>
                        <button type="button" id="profile_dashboard_btn2" class="link">Präferenzen</button>
                        <button type="button" id="profile_dashboard_btn3" class="link">Mitgliedschaft</button>
                        <button type="button" id="profile_dashboard_btn4" class="link">Benachrichtigungen</button>
                    </div>
                    <div class="settings active">
                        <label for="username">Benutzername</label>
                        <div class="profile-settings-input">
                            <img alt="Eine Person" src="/img/svg/personal.svg">
                            <input type="text" autocomplete="username" id="username" placeholder="<%= user.username %>">
                        </div>
                        <label for="password">Passwort</label>
                        <div class="profile-settings-input">
                            <img alt="Ein Schloss" src="/img/svg/lock.svg">
                            <input type="password" autocomplete="current-password" id="password" value="<%= user.password %>" placeholder="<%= user.password %>">
                            <img alt="Ein Auge (Zu oder offen)" src="/img/svg/eye.svg" id="show_password">
                        </div>
                        <label for="username">Vorname</label>
                        <div class="profile-settings-input">
                            <img alt="Eine Person" src="/img/svg/text.svg">
                            <input type="text" autocomplete="given-name" id="name" placeholder="<%= user.name %>">
                        </div>
                        <label for="username">Nachname</label>
                        <div class="profile-settings-input">
                            <img alt="Eine Person" src="/img/svg/text.svg">
                            <input type="text" autocomplete="family-name" id="family_name" placeholder="<%= user.family_name %>">
                        </div>
                        <label for="username">E-Mail</label>
                        <div class="profile-settings-input">
                            <img alt="Eine Person" src="/img/svg/mail.svg">
                            <input type="text" autocomplete="email" id="email" placeholder="<%= user.email %>">
                        </div>
                        <label for="username">Telefonnummer</label>
                        <div class="profile-settings-input">
                            <img alt="Eine Person" src="/img/svg/phone.svg">
                            <input type="text" autocomplete="tel" id="phone" placeholder="<%= user.phone %>">
                        </div>
                        <button type="button" id="profile-settings-input-submit" class="submit">Einstellungen aktualisieren</button>
                    </div>
                    <div class="preferences">
                        <div class="profile-preferences-div preferences-darkmode-div">
                            <p>Darkmode:</p>
                            <label for="preferences_darkmode" class="uiverse ui-switch">
                                <input id="preferences_darkmode" name="darkmode" type="checkbox" class="uiverse" <% if (user?.darkmode) { %>checked="true"<% }; %>>
                                <div class="uiverse slider">
                                    <div class="uiverse circle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="membership">
                        <div class="profile-membership">
                            <h1>TODO</h1>
                            <ol>
                                <li>Kartennummer</li>
                                <li>Zahlungsart</li>
                                <li>Wenn der Benutzer noch kein Mitglied ist dann eine Aufforderung</li>
                            </ol>
                        </div>
                    </div>
                    <div class="notifications">
                        <div class="notifications_newsletter">
                            <p>Ich möchte gerne den Newsletter erhalten:</p>
                            <label for="notifications_newsletter" class="static-checkbox uiverse hirachy-class">
                                <input type="checkbox" id="notifications_newsletter">
                                <div class="uiverse static-checkbox-mark"></div>
                            </label>
                            <select id="newsletterSignUpOption">
                                <option value="" disabled selected>Anrede</option>
                                <option value="Herr">Herr</option>
                                <option value="Frau">Frau</option>
                                <option value="Divers">Divers</option>
                            </select>
                        </div>
                        <div class="invisible">
                            <div id="profile_name"><%= user.name %></div>
                            <div id="profile_f_name"><%= user.family_name %></div>
                            <div id="profile_email"><%= user.email %></div>
                        </div>
                    </div>
                </div>
            <div id="picture_overlay">
                <label for="file_upload" class="custom-file-upload">
                    <div class="icon">
                        <img alt="Eine Datei" src="/img/svg/file.svg" id="file_preview">
                    </div>
                    <div class="text">
                       <span>Klicken um ein neues Bild hochzuladen</span>
                    </div>
                    <input type="file" id="file_upload" accept="image/png, image/jpg, image/gif, image/jpeg, image/tiff, image/raw, image/bpm, image/webp, image/ico">
                    <button id="file_submit" class="cta-btn">Hochladen</button>
                </label>
            </div>
            <div id="close_picture_overlay"></div>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>