<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            .hero-img {
                filter: brightness(0.75);
            }
        </style>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Ein Shop in Tanzania",
                img_path: "/img/common/shop/hero.jpg",
                title: "Einzigartige Unikate",
                subtitle: "All unsere Produkte können im Unikat Höngg bezogen werden.",
                cta_text: "Zum Shop",
                cta_link: "https://www.unikat-hoengg.ch"
            }) %>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>