<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
            }

            main > h2 {
                margin: 0;
                font-size: 2em;
                padding: 0 5vw;
            }

            h1.title {
                word-wrap: break-word;
            }
        </style>
    </head>
    <body><%
        let link_mitglied;
        if (typeof user !== "undefined" && user !== null) {
            user?.valid ? link_mitglied = "/profile?js=profile_toMembership" : link_mitglied = "/login";
        } else {
            link_mitglied = "/login";
        }; %>
       <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Ein Bücherregal",
                img_path: "/img/stock/statuten.jpg",
                title: "Statuten",
                subtitle: "",
                cta_text: "",
                cta_link: ""
            }); %><%
            statuten.forEach(elm => { %>
            <%- elm %>
            <% }); %>
            <script>
                getQuery("main h1").addClass("title");
                getQuery("main p").addClass("text");
                getQuery("main h1").get(0).removeClass("title");
            </script>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(date) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>