<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
            }

            table {
                font-family: "Titillium Web", sans-serif;
                border-collapse: collapse;
                margin: 5vh 5vw;
                width: calc(100% - 10vw);
            }

            .table-container {
                overflow-x: auto;
            }

            td, th {
                border: 1px solid var(--text-950);
                text-align: left;
                padding: 8px;
                color: var(--text-950);
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            :root[data-theme="dark"] tr:nth-child(even) {
                background-color: #7c7c7c;
            }

            tfoot td {
                border: none;
                text-align: right;
                font-style: italic;
                font-size: 0.9em;
            }
        </style>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Die Flagge von Tanzania",
                img_path: "/img/svg/flag_tanzania.svg",
                title: tanzania.title,
                subtitle: "",
                cta_text: "",
                cta_link: ""
            }) %>
            <script>document.querySelector(".hero-img").style.filter = "none";</script>
            <div class="tanzania_history">
                <div class="time"></div>
                <div class="content">
                    <h1 class="title">Tanzania kurze Geschichte</h1>
                    <ul>
                        <li>
                            Vor etwa 4000 Jahren Migration von Bantus „Menschen“ aus dem Kongogebiet nach Ost- und Südafrika
                        </li>
                        <li>
                            8. Bis 9. Jahrhundert  Bevölkerung vor allem entlang der Küstenregion  (Swahili arabisch sawāḥilī „Küstenbewohner“)
                        </li>
                        <li>
                            1498 Anspruch Portugals auf die Küste und Zanzibar durch Vasco da Gama
                        </li>
                        <li>
                            1698 bis 1861 Sultanat von Oman, Hauptsitz Zanzibar
                        </li>
                        <li>
                            1885-1918 Kolonie Deutsch-Ostafrika Bei einem Aufstand gegen die Kolonialherren im Maji-Maji-Krieg (1905-1907) kommen schätzungsweise zwischen 200.000 und 300.000 Menschen durch Kämpfe oder Hunger ums Leben.
                        </li>
                    </ul>
                    <img class="tanzania_history_img" src="/img/content/tanzania_1.jpg">
                    <p class="text">
                        Bundespräsident Steinmeier besucht im November 2023 den Ort Songea im Süden des Landes um sich für vergangenes Unrecht zu entschuldigen (etwa zur gleichen Zeit weilt König Charles in Kenya, vermeidet allerdings eine konkrete Entschuldigung)
                    </p>
                    <div class="blog_half">
                        <ul>
                            <li>
                                1919 Versaillervertrag, Tanganjika geht an Grossbritannien
                            </li>
                            <li>
                                1946 wird Tanganjika britisches Treuhandgebiet der UN
                            </li>
                            <li>
                                1954 Julius Nyerere gründet die Tanganjika African National Union (TANU) und erreicht 1961 dessen Unabhängigkeit
                            </li>
                            <li>
                                1964 Vereinigung Zanzibars zur Republik Tanzania (Tanganjika Zanzibar), Julius Nyerere wird erster Präsident (bis 1985)
                            </li>
                            <li>
                                2021 stirbt Präsident John Magufuli wahrscheinlich an Covid, Nachfolgerin wird dessen Vizepräsidentin Samia Suluhu Hassan
                            </li>
                        </ul>
                        <img class="tanzania_history_img" src="/img/content/tanzania_2.jpg">
                    </div>
                    <div class="blog_half">
                        <img class="tanzania_history_img" src="/img/content/tanzania_3.jpg">
                        <p class="text tanzania_history">Samia Suluhu Hassan (geboren am 27. Januar 1960 damals noch im Sultanat Sansibar) und seit März 2021 erste Frau und 6. Präsidentin von Tanzania.</p>
                    </div>
                    <div class="blog_half">
                        <p class="text tanzania_history">Februar 24 Präsidentin Hassan überreichte dem Papst im Vatikan die Nachbildung einer sansibarischen Tür als Ausdruck der lokalen Handwerkskunst. Der Papst revanchiert sich mit einer Bronzeskulptur, die den Titel „Dialog zwischen den Generationen“ trägt.</p>
                        <img class="tanzania_history_img" src="/img/content/tanzania_4.jpg">
                    </div>
                </div>
            </div>
            <div class="tanzania_history">
                <div class="time geo"></div>
                <div class="content">
                    <h1 class="title">Tanzania Geographie</h1>
                    <div class="blog_half">
                        <img class="tanzania_history_img" src="/img/content/tanzania_5.jpg">
                        <p class="text tanzania_history">Tanzania liegt südlich des Äquators im östlichen Afrika und ist bekannt und gekennzeichnet durch Inseln, Seen, Berge und Parks:</p>
                    </div>
                    <ul>
                        <li>
                            Zanzibar (mit den beiden Inseln Pemba & Unguja), bekannt als Gewürzinsel (Pfeffer, Vanille, Nelken, Muskatnuss)
                            <br>
                            Mafia Island ein Tauchparadies
                        </li>
                        <li>
                            Victoriasee der drittgrösste See der Welt 1858 «entdeckt» und benannt von John Hanning Speke (britischer Afrikaforscher) nach dessen Königin. Tanganjikasee grösstes Süsswasserreservoir Afrikas und das zweitgrösste der Welt, mit einer Tiefe von 1470 m auch der zweit tiefste See der Welt (jeweils nach dem Baikalsee)
                        </li>
                        <li>
                            „Der“ Kilimanjaro (eigentlich bezieht sich der Begriff auf das ganz Massiv) wurde im Jahre 1886 von Königin Victoria an ihren Enkel, den späteren deutschen Kaiser Wilhelm II. geschenkt. Der Kibo ist mit 5895m der höchste Berg des Kilimanjaromassivs und zählt zu den Seven Summits (dem jeweils höchsten Berg der sieben Kontinente)
                        </li>
                        <li>
                            Die Serengeti einer der insgesamt 22 Nationalparks welche zusammen ca. 11 Prozent der Landfläche ausmachen. Seit 1929 ist er ein game reserve, seit 1951 ein Reservat und weist eine Fläche von 14'763 Quadratkilometern auf.
                        </li>
                    </ul>
                    <div class="table-container" style="margin-top: 0 !important;">
                        <table>
                            <thead>
                                <th>Rang</th>
                                <th>Name</th>
                                <th>Einwohnerzahl</th>
                                <th>Weiteres</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Dar es Salaam</td>
                                    <td>5'383'728</td>
                                    <td>Handels- und Finanzzentrum</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Mwanza</td>
                                    <td>1'104'521</td>
                                    <td>Victoriasee</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Dodoma</td>
                                    <td>765'179</td>
                                    <td>Hauptstadt</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Zanzibar</td>
                                    <td>709'809</td>
                                    <td>Hauptstadt von Zanzibar</td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>Arusha</td>
                                    <td>617'631</td>
                                    <td>Serengeti, Kilimanjaro</td>
                                </tr>
                                <tr>
                                    <td>6.</td>
                                    <td>Mbeya</td>
                                    <td>541'603</td>
                                    <td>Mbeya Region 2'343'754</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        Quelle: <a href="https://www.citypopulation.de/de/tanzania/cities/">citypopulation.de</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <h2 class="subtitle" style="padding-left: 10vw; margin-top: 0 !important;">Vergleich</h2>
                    <div class="table-container" style="margin-top: 0 !important;">
                        <table>
                            <thead>
                                <th>Kategorie</th>
                                <th>Tanzania</th>
                                <th>Schweiz</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Flagge</td>
                                    <td>
                                        <img src="/img/svg/flag_tanzania.svg" class="tanzania_flags">
                                    </td>
                                    <td>
                                        <img src="/img/svg/flag_switzerland.svg" class="tanzania_flags">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bevölkerung</td>
                                    <td>67.4 Mio.</td>
                                    <td>8.8. Mio.</td>
                                </tr>
                                <tr>
                                    <td>Fläche</td>
                                    <td>947.300 km<sup>2</sup></td>
                                    <td>41.290 km<sup>2</sup></td>
                                </tr>
                                <tr>
                                    <td>Mittleres Alter</td>
                                    <td>17 Jahre</td>
                                    <td>42.3 Jahre</td>
                                </tr>
                                <tr>
                                    <td>Lebenserwartung</td>
                                    <td>65.5/69.8 Jahre</td>
                                    <td>84.4/86 Jahre</td>
                                </tr>
                                <tr>
                                    <td>Geburtenrate</td>
                                    <td>4.6 (1975: 7)</td>
                                    <td>1.5 (1965: 2.6)</td>
                                </tr>
                                <tr>
                                    <td>Bevölkerungswachstum</td>
                                    <td>2.96 %</td>
                                    <td>0.64 %</td>
                                </tr>
                                <tr>
                                    <td>Säuglingssterblichkeit (pro 1000 Geburten)</td>
                                    <td>29.5 (39.7 &lt; 5 Jahren)</td>
                                    <td>3.0 (3.5 &lt; 5 Jahren)</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        Quelle: <a href="https://www.laenderdaten.info/laendervergleich.php?country1=TZA&country2=CHE">laenderdaten.info</a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tanzania_history">
                <div class="time info"></div>
                <div class="content">
                    <h1 class="title tanzania_big_title">Allgemeine Reiseinformationen zu Tanzania</h1>
                    <div class="flex" style="flex-wrap: wrap; gap: 5vw; justify-content: space-evenly;">
                        <div>
                            <h2 class="subtitle" style="text-align: center;">Allgemein</h2>
                            <ul>
                                <li>
                                    <a href="https://www.eda.admin.ch/eda/de/home/vertretungen-und-reisehinweise/tansania.html">Allgemeine Reisehinweise</a>
                                </li>
                                <li>
                                    <a href="https://www.eda.admin.ch/eda/de/home/vertretungen-und-reisehinweise/tansania/reisehinweise-fuertansania.html">Reiseinformationen für Tanzania</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="subtitle" style="text-align: center;">Reisen (Registrierung)</h2>
                            <ul>
                                <li>
                                    <a href="https://www.eda.admin.ch/eda/de/home/leben-im-ausland/schweizerinnen-und-schweizer-im-ausland/dienstleistungen-schweiz-ausland/itineris.html">Registrierung von Auslandreisen nach Tanzania</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2 class="subtitle" style="text-align: center;">Impfungen</h2>
                            <ul>
                                <li>
                                    <a href="https://www.bag.admin.ch/bag/de/home/gesund-leben/gesundheitsfoerderung-und-praevention/impfungen-prophylaxe/reiseimpfungen.html">Bundesamt für Gesundheit</a>
                                </li>
                                <li>
                                    <a href="https://www.tropencentersued.at/reiseimpfungen/tropisches-afrika/">Tropencenter Süd</a>
                                </li>
                                <li>
                                    <a href="https://tropeninstitut.de/ihr-reiseziel/tanzania">Tropeninstitut</a>
                                </li>
                                <li>
                                    <a href="https://crm.de/tansania/">Zentrum fpr Reisemedizin</a>
                                </li>
                                <li>
                                    <a href="https://www.reisemed-experten.de/laender-informationen/tansania">reisemed-experten.de</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(tanzania.datum) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>