<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
                
                h1.hero-title,
                p.hero-subtitle {
                    color: var(--c-text-50) !important;
                }
                
                h1.hero-title::after {
                    background-color: var(--c-text-50) !important;
                }
            }
        </style>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "",
                img_path: team.bild,
                title: "Unser aktuelles Team",
                subtitle: team.leitsatz,
                cta_text: "",
                cta_link: ""
            }) %>
            <h1 class="title margin-t-5vh w1000 w1200">Unser aktuelles Team</h1>
            <p class="text"><%= team.text %></p>
            <%- include("./snippets/teamMember.ejs", {
                members: team.members
            }); %>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(date) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>