<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <link rel="stylesheet" href="/css/blog.css" />
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
            }
        </style>
    </head>
    <body>
        <%
        let link_mitglied;
        if (typeof user !== "undefined" && user !== null) {
            user?.valid ? link_mitglied = "/profile?js=profile_toMembership" : link_mitglied = "/login";
        } else {
            link_mitglied = "/login";
        }; %>
        <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Gruppenbild auf dem Pilatus",
                img_path: "/img/common/tmz/Bild1.jpg",
                title: tmz.titel,
                subtitle: "",
                cta_text: "",
                cta_link: ""
            }) %>
            <h1 class="title margin-t-5vh w1000 w1200"><%- tmz.titel %></h1>
            <p class="text"><%- tmz.abs1 %></p>
            <div id="auto_OukTlYQqTLWUXgKwDg9jtpO96TQ">
                <div class="blog_carousel auto_JIaGTmA72DNyrxbK7xTRGwJLfe6">
                    <div class="blog_c-main auto_06q5fCqduHkYcET0iJdKArQfkYx">
                        <img class="auto_wNBwcnHrBQCNnn4TQUrzHXGVFBn" id="auto_wNBwcnHrBQCNnn4TQUrzHXGVFBn" src="/img/common/tmz/Bild1.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_VmSRtWO8Pe7X3v05y6BjzQXhxz8" id="auto_VmSRtWO8Pe7X3v05y6BjzQXhxz8" src="/img/common/tmz/Bild2.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_i5kRmbC9mWi8Elwxgrt6zxBJs9W" id="auto_i5kRmbC9mWi8Elwxgrt6zxBJs9W" src="/img/common/tmz/Bild3.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_KwKVFvhR393nBTdhQAAx2d69oaH" id="auto_KwKVFvhR393nBTdhQAAx2d69oaH" src="/img/common/tmz/Bild4.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_K0qzcy3EW1nvkrnKR4vLeDbyTAK" id="auto_K0qzcy3EW1nvkrnKR4vLeDbyTAK" src="/img/common/tmz/Bild5.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_103S9YDGztrvJtLSt9qDz7elodj" id="auto_103S9YDGztrvJtLSt9qDz7elodj" src="/img/common/tmz/Bild6.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_RI3XOCrLRbs7oOtntVIkXnLWQcU" id="auto_RI3XOCrLRbs7oOtntVIkXnLWQcU" src="/img/common/tmz/Bild7.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_vbQCuAB1c6X9UALDzP71vD10z68" id="auto_vbQCuAB1c6X9UALDzP71vD10z68" src="/img/common/tmz/Bild8.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_QvldJnZLGx5qGlcAI6hiD9L061H" id="auto_QvldJnZLGx5qGlcAI6hiD9L061H" src="/img/common/tmz/Bild9.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_tTgRBtevkB01lqnOsO4GLSbarhW" id="auto_tTgRBtevkB01lqnOsO4GLSbarhW" src="/img/common/tmz/Bild10.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_wFSWIuY770hTKDIqrkf5O3kqPji" id="auto_wFSWIuY770hTKDIqrkf5O3kqPji" src="/img/common/tmz/Bild11.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_xZTjl8M8R2DiHnHeh5tBYegNQhC" id="auto_xZTjl8M8R2DiHnHeh5tBYegNQhC" src="/img/common/tmz/Bild12.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_l9w8KJGftiOtCeaCIKpFRsInFPw" id="auto_l9w8KJGftiOtCeaCIKpFRsInFPw" src="/img/common/tmz/Bild13.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_om89YR3dMzRh4FZq0UHB6yvSYez" id="auto_om89YR3dMzRh4FZq0UHB6yvSYez" src="/img/common/tmz/Bild14.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_GPUjzVPoCOswjFswCJewomCmOk2" id="auto_GPUjzVPoCOswjFswCJewomCmOk2" src="/img/common/tmz/Bild15.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_TwL39jOSiBEBRFbGedCQQOhTYCh" id="auto_TwL39jOSiBEBRFbGedCQQOhTYCh" src="/img/common/tmz/Bild16.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_BexpccNpoSgyCJbIR8FGU49i7Zt" id="auto_BexpccNpoSgyCJbIR8FGU49i7Zt" src="/img/common/tmz/Bild17.jpg" alt="Keine Beschreibung für dieses Bild..." />
                    </div>
                    <button class="blog_carousel_next" id="blog_carousel_next_auto_iHtPJ7lkP0wiCOre0U4t4gTQYbg" type="button"></button>
                    <button class="blog_carousel_prev" id="blog_carousel_prev_auto_GN7YnPYrkQEoMJNXxDRTVViFm5f" type="button"></button>
                    <div class="blog_c-ruler auto_87IkQXKWwEHCBPxfsGzGskX2XGB">
                        <img class="auto_wNBwcnHrBQCNnn4TQUrzHXGVFBn" id="auto_wNBwcnHrBQCNnn4TQUrzHXGVFBn" src="/img/common/tmz/Bild1.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_VmSRtWO8Pe7X3v05y6BjzQXhxz8" id="auto_VmSRtWO8Pe7X3v05y6BjzQXhxz8" src="/img/common/tmz/Bild2.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_i5kRmbC9mWi8Elwxgrt6zxBJs9W" id="auto_i5kRmbC9mWi8Elwxgrt6zxBJs9W" src="/img/common/tmz/Bild3.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_KwKVFvhR393nBTdhQAAx2d69oaH" id="auto_KwKVFvhR393nBTdhQAAx2d69oaH" src="/img/common/tmz/Bild4.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_K0qzcy3EW1nvkrnKR4vLeDbyTAK" id="auto_K0qzcy3EW1nvkrnKR4vLeDbyTAK" src="/img/common/tmz/Bild5.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_103S9YDGztrvJtLSt9qDz7elodj" id="auto_103S9YDGztrvJtLSt9qDz7elodj" src="/img/common/tmz/Bild6.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_RI3XOCrLRbs7oOtntVIkXnLWQcU" id="auto_RI3XOCrLRbs7oOtntVIkXnLWQcU" src="/img/common/tmz/Bild7.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_vbQCuAB1c6X9UALDzP71vD10z68" id="auto_vbQCuAB1c6X9UALDzP71vD10z68" src="/img/common/tmz/Bild8.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_QvldJnZLGx5qGlcAI6hiD9L061H" id="auto_QvldJnZLGx5qGlcAI6hiD9L061H" src="/img/common/tmz/Bild9.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_tTgRBtevkB01lqnOsO4GLSbarhW" id="auto_tTgRBtevkB01lqnOsO4GLSbarhW" src="/img/common/tmz/Bild10.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_wFSWIuY770hTKDIqrkf5O3kqPji" id="auto_wFSWIuY770hTKDIqrkf5O3kqPji" src="/img/common/tmz/Bild11.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_xZTjl8M8R2DiHnHeh5tBYegNQhC" id="auto_xZTjl8M8R2DiHnHeh5tBYegNQhC" src="/img/common/tmz/Bild12.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_l9w8KJGftiOtCeaCIKpFRsInFPw" id="auto_l9w8KJGftiOtCeaCIKpFRsInFPw" src="/img/common/tmz/Bild13.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_om89YR3dMzRh4FZq0UHB6yvSYez" id="auto_om89YR3dMzRh4FZq0UHB6yvSYez" src="/img/common/tmz/Bild14.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_GPUjzVPoCOswjFswCJewomCmOk2" id="auto_GPUjzVPoCOswjFswCJewomCmOk2" src="/img/common/tmz/Bild15.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_TwL39jOSiBEBRFbGedCQQOhTYCh" id="auto_TwL39jOSiBEBRFbGedCQQOhTYCh" src="/img/common/tmz/Bild16.jpg" alt="Keine Beschreibung für dieses Bild..." />
                        <img class="auto_BexpccNpoSgyCJbIR8FGU49i7Zt" id="auto_BexpccNpoSgyCJbIR8FGU49i7Zt" src="/img/common/tmz/Bild17.jpg" alt="Keine Beschreibung für dieses Bild..." />
                    </div>
                    <script>
                        getQuery(".blog_c-ruler.auto_87IkQXKWwEHCBPxfsGzGskX2XGB").get(0).html(getQuery(".blog_c-main.auto_06q5fCqduHkYcET0iJdKArQfkYx").get(0).html());

                        const arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD = [
                            getQuery(".auto_BexpccNpoSgyCJbIR8FGU49i7Zt"),
                            getQuery(".auto_wNBwcnHrBQCNnn4TQUrzHXGVFBn"),
                            getQuery(".auto_VmSRtWO8Pe7X3v05y6BjzQXhxz8"),
                            getQuery(".auto_i5kRmbC9mWi8Elwxgrt6zxBJs9W"),
                            getQuery(".auto_KwKVFvhR393nBTdhQAAx2d69oaH"),
                            getQuery(".auto_K0qzcy3EW1nvkrnKR4vLeDbyTAK"),
                            getQuery(".auto_103S9YDGztrvJtLSt9qDz7elodj"),
                            getQuery(".auto_RI3XOCrLRbs7oOtntVIkXnLWQcU"),
                            getQuery(".auto_vbQCuAB1c6X9UALDzP71vD10z68"),
                            getQuery(".auto_QvldJnZLGx5qGlcAI6hiD9L061H"),
                            getQuery(".auto_tTgRBtevkB01lqnOsO4GLSbarhW"),
                            getQuery(".auto_wFSWIuY770hTKDIqrkf5O3kqPji"),
                            getQuery(".auto_xZTjl8M8R2DiHnHeh5tBYegNQhC"),
                            getQuery(".auto_l9w8KJGftiOtCeaCIKpFRsInFPw"),
                            getQuery(".auto_om89YR3dMzRh4FZq0UHB6yvSYez"),
                            getQuery(".auto_GPUjzVPoCOswjFswCJewomCmOk2"),
                            getQuery(".auto_TwL39jOSiBEBRFbGedCQQOhTYCh"),
                        ];

                        let current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS = 1;

                        arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS - 1].toggleClass("active");

                        function next_auto_G17iZwGSowzAAXKONDIdIjIgcsa() {
                            current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS + 1 > arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD.length ? (current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS = 1) : current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS++;
                            current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS === 1 ? arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD.length - 1].toggleClass("active") : arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS - 2].toggleClass("active");
                            arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS - 1].toggleClass("active");
                        }

                        function prev_auto_PrU6mcVeVFwiMq15UIHIChAtsdX() {
                            current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS - 1 === 0 ? (current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS = arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD.length) : current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS--;
                            current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS === arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD.length ? arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[0].toggleClass("active") : arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS].toggleClass("active");
                            arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS - 1].toggleClass("active");
                        }

                        function to_auto_jqHEAu3nZsFIzJVenO2z5ighjeM(i) {
                            arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS - 1].toggleClass("active");
                            arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD[i - 1].toggleClass("active");
                            current_auto_FSi0CNdWyCjE6RfBMh501BwpjRS = i;
                        }

                        getElm("blog_carousel_next_auto_iHtPJ7lkP0wiCOre0U4t4gTQYbg").click(next_auto_G17iZwGSowzAAXKONDIdIjIgcsa);
                        getElm("blog_carousel_prev_auto_GN7YnPYrkQEoMJNXxDRTVViFm5f").click(prev_auto_PrU6mcVeVFwiMq15UIHIChAtsdX);

                        arr_auto_T0bRUlC4Kgoi4NqtzitoFDJ5bqD.forEach((elm, i) => {
                            elm.get(1).click(() => to_auto_jqHEAu3nZsFIzJVenO2z5ighjeM(i + 1));
                        });
                    </script>
                </div>
            </div>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(date) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>
