<!DOCTYPE html>
<%- include("./snippets/timon.ejs") %>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }

                h1.hero-title,
                p.hero-subtitle {
                    color: var(--c-text-50) !important;
                }

                h1.hero-title::after {
                    background-color: var(--c-text-50) !important;
                }
            }
        </style>
    </head>
    <body>
        <%
        let link_mitglied;
        if (typeof user !== "undefined" && user !== null) {
            user?.valid ? link_mitglied = "/profile?exec=profileMembership" : link_mitglied = "/login";
        } else {
            link_mitglied = "/login";
        }; %>
        <%- include("./snippets/header.ejs", {
            link_mitglied
        }) %>
        <%- include("./snippets/nav.ejs", {
            link_mitglied
        }) %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Ein Bild des Teams",
                img_path: vorstand.bildURL,
                title: "Der Vorstand",
                subtitle: vorstand.leitsatz,
                cta_text: "",
                cta_link: ""
            }) %>
            <h1 class="title margin-t-5vh w1000 w1200">Der Vorstand</h1>
            <p class="text"><%= vorstand.text %></p>
            <%- include("./snippets/teamMember.ejs", {
                members: member_list
            }); %>
            <p class="date">Zuletzt aktualisiert am <%= toRealDate(date) %></p>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url
        }) %>
    </body>
</html>
