<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("./snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <style type="text/css">
            @media screen and (min-width: 1000px) {
                .hero-img {
                    filter: brightness(0.75);
                }
            }
        </style>
    </head>
    <body>
        <%- include("./snippets/header.ejs") %>
        <%- include("./snippets/nav.ejs") %>
        <main>
            <%- include("./snippets/hero.ejs", {
                img_alt: "Ein Bild des Teams",
                img_path: "/img/common/vorstand/team.jpg",
                title: "Der Vorstand",
                subtitle: "Wir sind das Team für Ifisi!",
                cta_text: "",
                cta_link: ""
            }) %>
            <h1 class="title margin-t-5vh w1000 w1200">Der Vorstand</h1>
            <p class="text">
                Wir sind ein Team von medizinischen Fachleuten aus den verschiedensten Berufsgruppen und Lehrern. 
                Eine bunt zusammengemischte Truppe engagierter, hilfsbereiter Leute. 
                Erfahre auf dieser Seite mehr über unser Team, unsere Freunde in Mbalizi und unsere Partner.
            </p>
            <%- include("./snippets/teamMember.ejs", {
                members: member_list
            }); %>
        </main>
        <%- include("./snippets/footer.ejs", {
            origin_url: origin_url,
            js: js
        }) %>
    </body>
</html>