<!DOCTYPE html>
<html lang="de-ch" data-theme="light">
    <head>
        <%- include("../snippets/head.ejs", {
            title: title,
            date: date,
            desc: desc,
            url: url,
            env: env,
            sitetype: sitetype
        }) %>
        <script type="text/javascript" src="/js/private.js" defer></script>
    </head>
    <body>
        <%- include("../snippets/header.ejs") %>
        <%- include("../snippets/nav.ejs") %>
        <main>
            <div class="general container">
                <h1>Webseiten</h1>
                <p><a href="https://analytics.google.com/analytics/web/">Google Analytics</a></p>
                <p><a href="https://www.google.com/adsense">Google Adsense</a></p>
                <p><a href="https://imagekit.io/dashboard/media-library">ImageKit</a></p>
                <p><a href="/private/writeBlog">Zum Blog Builder</a></p>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Webseite</th>
                            <th>E-Mail</th>
                            <th>Passwort</th>
                        </tr>
                        <tr>
                            <td>Google</td>
                            <td>zuerich.meets.tanzania@gmail.com</td>
                            <td><%= passwords.gmail %></td>
                        </tr>
                        <tr>
                            <td>ImageKit</td>
                            <td>zuerich.meets.tanzania@gmail.com</td>
                            <td><%= passwords.imagekit %></td>
                        </tr>
                        <tr>
                            <td>Stripe</td>
                            <td>zuerich.meets.tanzania@gmail.com</td>
                            <td><%= passwords.stripe %></td>
                        </tr>
                        <tr>
                            <td>Mailjet</td>
                            <td>zuerich.meets.tanzania@gmail.com</td>
                            <td><%= passwords.mailjet %></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="news-management container">
                <h1>News Verwaltung</h1>
                <p>Hier können News verteilt werden.</p>
                <form action="/post/submitNews" method="POST">
                    <label for="news_text">Text</label>
                    <input type="text" id="news_text" name="text" required>
                    <label for="news_pdf">PDF oder Bild (Auswählen für PDF)</label>
                    <input type="checkbox" id="news_pdf" name="pdf">
                    <div id="show_pdf">
                        <label for="news_pdf_src">Dateiname mit .pdf Endung hochgeladen auf imagekit unter dem Ordner pdf (Bsp: meinPDF.pdf)</label>
                        <input type="text" id="news_pdf_src" name="pdf_src">
                    </div>
                    <div id="show_img">
                        <label for="news_img_path">Link zum Bild</label>
                        <input type="text" id="news_img_path" name="img_path">
                        <label for="news_img_alt">Beschreibung des Bild</label>
                        <input type="text" id="news_img_alt" name="img_alt">
                        <label for="news_img_pos">Positionierung des Bildes (left, center oder right)</label>
                        <input type="text" id="news_img_pos" name="img_pos">
                    </div>
                    <input type="checkbox" id="news_btn" name="btn" checked="true">
                    <div id="show_btn_menu">
                        <label for="news_btn_text">Button Text</label>
                        <input type="text" id="news_btn_text" name="btn_text">
                        <label for="news_btn_link">Button Link</label>
                        <input type="text" id="news_btn_link" name="btn_link">
                    </div>
                    <div id="show_nothing" class="invisible"></div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="hero-management container">
                <h1>Neues Homepage Bild hochladen</h1>
                <input type="file" id="hero_img_upload" accept="image/png, image/jpg, image/gif, image/jpeg, image/tiff, image/psd, image/eps, image/ai, image/indd, image/raw, image/bpm, image/webp, image/svg, image/ico, image/heif, image/wmf, image/emf, image/tga, image/hdr">
                <button type="button" id="hero_img_upload_submit">Hochladen</button>
            </div>
            <div class="user-management container">
                <h1>Benutzerliste</h1>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Benutzername</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>E-Mail</th>
                            <th>Telefonnummer</th>
                            <th>Typ</th>
                        </tr><%
                        all_users.forEach(user => { %>
                        <tr>
                            <td><%= user.username %></td>
                            <td><%= user.name %></td>
                            <td><%= user.family_name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.phone %></td>
                            <td><%= user.type %></td>
                        </tr>
                        <% }) %>
                    </table>
                </div>
                <h1>Newsletterliste</h1>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Anrede</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>E-Mail</th>
                        </tr><%
                        all_newsletter.forEach(user => { %>
                        <tr>
                            <td><%= user.gender %></td>
                            <td><%= user.vorname %></td>
                            <td><%= user.nachname %></td>
                            <td><%= user.email %></td>
                        </tr>
                        <% }) %>
                    </table>
                </div>
                <h1>Mitgliederliste</h1>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Benutzername</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>E-Mail</th>
                            <th>Telefonnummer</th>
                        </tr><%
                        all_users.forEach(user => {
                        if (user.type === "member") { %>
                        <tr>
                            <td><%= user.username %></td>
                            <td><%= user.name %></td>
                            <td><%= user.family_name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.phone %></td>
                        </tr>
                        <% };}); %>
                    </table>
                </div>
            </div>
        </main>
        <%- include("../snippets/footer.ejs", {origin_url: origin_url}) %>
    </body>
</html>