<div class="gallery"><%
    img.arr.forEach((elm, i) => { %>
    <div class="gallery-container" id="gallery_<%= i %>">
        <img class="gallery-img" alt="<%= elm.alt %>" src="<%= elm.src %>?tr=w-200,h-200">
        <div class="gallery-context-menu">
            <p>Anzeigen!</p>
        </div>
    </div><% }); %>
    <div class="gallery-show">
        <img class="gallery-big" alt="" src="">
        <button class="gallery-next" type="button"></button>
        <button class="gallery-prev" type="button"></button>
    </div>
</div><% 
if (img.vid.length > 0) { %>
<h1 class="title">Videos</h1>
<div class="gallery"><%
    img.vid.forEach((elm, i) => { %>
    <div class="gallery-container-vid" id="galleryvid_<%= i %>">
        <video class="gallery-vid" src="<%= origin_url + "/" + elm.src.split("\\static\\").pop().replaceAll("\\", "/") 
            %>" type="<%= elm.type %>" loading="lazy" preload="metadata" alt="<%= elm.alt %>">
            Ihr Browser kann dieses Video leider nicht wiedergeben.
        </video>
        <div class="gallery-context-menu">
            <p>Abspielen!</p>
        </div>
    </div><% }); %>
    <div class="gallery-cinema">
        <video class="gallery-big-vid" alt="" src="" type="" controls></video>
        <button class="gallery-next-vid" type="button"></button>
        <button class="gallery-prev-vid" type="button"></button>
    </div>
</div><% 
}; %>