<div class="hero">
                <img class="hero-img" alt="<%= img_alt %>" src="<%= img_path %>">
                <h1 class="hero-title"><%- title %></h1>
                <p class="hero-subtitle"><%- subtitle %></p>
                <button class="hero-cta"><%= cta_text %></button>
            </div>