<div class="news">
                <div class="news-div">
                    <h1 class="news-title">Aktuell:</h1>
                    <p class="news-text"><%- text %></p>
                    <% if (cta_text !== "") { %><button class="news-cta"><%= cta_text %></button>
                    <script>$(".news-cta").click(() => window.location.href = "<%= cta_link %>")</script><% }; %>
                </div>
                <img class="news-img news-<%= img_pos %>" alt="<%= img_alt %>" src="<%= img_path %>">
            </div>